.container{
position: absolute;
bottom: -425px;
width: 350px;
height: 400px;
background: var(--secondary);
left: -130px;
transform: scale(0);
transition: .2s;
animation: animate .2s forwards;
}


@keyframes animate {
  100%{
    transform: scale(1);
  }
}

.profileImage{
  border-radius: 50%;
}

.requestsContainer{
  cursor: pointer;
  display: flex;
  padding: 10px ;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  transition: .2s;
  /* display: none;
  visibility: collapse; */
}

.requestsContainer:hover{
  background: rgba(255, 255, 255, .2);
}
.requests{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.requests > h1{
  font-size: .8rem;

}
.requests > p{
  color: gray;
  font-weight: 500;
  font-size: .8rem;
}

.nextIcon{
  font-size: 2.5rem;
}

.requestsList{
  cursor: pointer;
  /* display: none;
  visibility: collapse; */
}


.recentList{
  margin-top: 5px;
  list-style: none;
display: flex;
flex-direction: column;
  overflow: auto;
  max-height: 320px;
}
.recentList::-webkit-scrollbar{
  width: 0;
}

.listItem{
  cursor: pointer;
  display: flex;
  gap: 10px;
  position: relative;
padding: 10px 20px ;

  align-items: center;
  justify-content: space-between;
}

.listItem:hover{
  background: rgba(255, 255, 255, .2);
}

.profileImage{
  border-radius: 50%;
}

.userInfo{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.userDetails{
  margin-top: 3px;
  display: flex;
  gap: 4px;
  font-size: .7rem;
}

.userDetails > span{
  color: gray;
}

.userInfo > h1{
  line-height: 100%;
  font-size: .8rem;
}

.goBack{
  background: rgba(255,255, 255, .1);
font-size: 2.5rem;
}
